.parallax {
    background-image: url("../../../public/stockWorking.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.NameH1 {
    width: 1345px;
    text-align: center;
    margin: auto;
    height: 100px;
}

.AboutP {
    width: 1345px;
    margin: auto;
    text-align: center;
    text-align-all: center;
    font-size: 30px;
    color: white;
    transform: translate(0%, 300%);
}

.parallax h1 {
    text-align: center;
    text-align-all: center;
    text-anchor: middle;
    font-size: 100px;
    color: white;
    transform: translate(0%, 180%);
    #background-color: #12471A;
}

h1, h2, h3, p {
    font-family: 'proxima-nova', sans-serif;
}

.sponsorCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    background-color: black;
}

.sponsorH1 {
    text-align: center;
    color: white;
    padding: 0;
    font-size: 5px;
    height: 20px;
    text-anchor: middle;
    vertical-align: text-top;
    #background-color: black;
}

.sponsorDiv {
    height: 800px;
    background-color: black;
}

.aboutDiv {
    height: 500px;
    background-color: #12471A;
}

.imageCarousel {
    height: 1000px;
    background-color: #12471A;
}

.centerContainer {
    height: 200px;
    align-content: center;
    padding-left: 22%;
    padding-top: 2%;
    horiz-align: center;
    align-items: center;
    vertical-align: center;
}

.center {
    height: auto;
    width: auto;
    font-family: 'proxima-nova', sans-serif;
    font-size: 30px;
}