.parallax {
    background-image: url("../../../public/stockWorking.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.NameH1 {
    width: 1345px;
    text-align: center;
    margin: auto;
    font-size: 150px;
    height: 100px;
}

.smallNameH1 {
    width: 1345px;
    text-align: center;
    margin: auto;
    font-size: 75px;
    height: 100px;
}

.AboutP {
    width: 1345px;
    margin: auto;
    text-align: center;
    text-align-all: center;
    font-size: 30px;
    color: white;
    transform: translate(0%, 300%);
}

.parallax h1 {
    text-align: center;
    text-align-all: center;
    text-anchor: middle;
    #font-size: 100px;
    color: white;
    transform: translate(0%, 180%);
    #background-color: #12471A;
}

h1, h2, h3, p {
    font-family: 'proxima-nova', sans-serif;
}

.sponsorCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    background-color: black;
}

.sponsorH1 {
    text-align: center;
    color: white;
    padding: 0;
    font-size: 5px;
    height: 20px;
    text-anchor: middle;
    vertical-align: text-top;
    #background-color: black;
}

.sponsorDiv {
    height: 800px;
    background-color: black;
}

.aboutDiv {
    height: 1500px;
    background-color: black;
}

.imageCarousel {
    height: 1000px;
    background-color: black;
}

.centerContainer {
    height: 200px;
    align-content: center;
    padding-left: 24%;
    padding-top: 2%;
    horiz-align: center;
    align-items: center;
    vertical-align: center;
}

.center {
    height: auto;
    width: auto;
    font-family: 'proxima-nova', sans-serif;
    font-size: 30px;
    color: #1f7f2e;
    border-color: #1f7f2e;
}

.teamText {
    text-align-all: center;
    color: white;
    font-size: 32px;
    width: auto;
    padding-left: 26%;
    padding-top: 100px;
}

.figure {
    width: 100%;
    height: 500px;
    background-color: black;
    border-top-left-radius: 80%200px;
    border-top-right-radius: 80%200px;
    padding-bottom: 0;
}

.btn-outline-primary {
    --bs-btn-color: #1f7f2e;
    --bs-btn-border-color: #1f7f2e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1f7f2e;
    --bs-btn-hover-border-color: #1f7f2e;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1f7f2e;
    --bs-btn-active-border-color: #1f7f2e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1f7f2e;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1f7f2e;
    --bs-gradient: none;
}

.img {
    align-content: center;
    align-items: center;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
}